/*
* @Author: 小叶
* @Date:   2017-12-27 18:11:38
* @Last Modified by:   小叶
* @Last Modified time: 2017-12-27 19:42:10
*/
html,body{
	position: relative;
	height: 100%;
}
.page-wrap ul.nav-side{
	width: 160px;
	float: left;
}
ul.nav-side i.fa{
	display: inline-block;
	width: 30px;
	font-size:17px;
	color:#666; 
}
ul.nav-side li.nav-item{
	width: 130px;
	height: 40px;
	line-height: 40px;
}
a.active{
	color:#c60023;
}
.page-content{
	float: right;
	width: 920px;
	height: 450px;
	background: #fff;
}
