<div class="footer">
	<div class="w">
	    <div class="link-list">
	    	<a href="https://www.imooc.com" target="_blank">慕课网</a> |
	    	<a href="https://www.baidu.com" target="_blank">百度</a> |
	    	<a href="https://www.zhihu.com" target="_blank">知乎</a> |
	    	<a href="https://www.google.com" target="_blank">谷歌</a>
	    </div>
	    <div class="copyright">
	    	<p class="copyright-text">
	    		Copyright © 2017 Tmall.com All Rights Reserved | 京ICP备 13046642号-2
	    	</p>
	    </div>			
	</div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
