/*
* @Author: 小叶
* @Date:   2018-01-03 22:08:28
* @Last Modified by:   小叶
* @Last Modified time: 2018-01-10 20:10:47
*/

.page-wrap{
	background: #fff;
	height: 450px;
}
.result-show{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 100px auto;
	background: url('../../image/searchoff.jpg') no-repeat;
}
.result-con{
    position: absolute;
    left:450px;
    top: 130px;
    display: none;
}
.result-con .fa-check-square-o{
	color: #c60023;
	font-size: 30px;
}
.result-text{
	font-size: 25px;
	line-height: 25px;
	vertical-align: top;
	display: inline-block;

}
.result-content {
	margin-top: 30px;
}
.result-con .result-link{
	text-decoration: none;
	padding: 4px 6px;
	color:#c60023;
	border: 1px solid #c60023;
    border-radius: 2px;
    margin: 0 5px 0 0;
}